<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<body>

<div class="pure-g" id="layout">
    <div class="pure-u-1 content pure-u-md-3-4">
        <h1>radios <span th:text="${name}"></span></h1>

        <table class="pure-table pure-table-bordered pure-table-striped">
            <thead>
            <tr>
                <th>startno</th>
                <th>name</th>
                <th>team</th>
                <th>class</th>
                <th>start at</th>
                <th>result</th>
                <th>passed at</th>
                <th>current</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="r: ${runnersBetweenRadios}">
                <td th:text="${r.startno}"/>
                <td th:text="${r.name}+' '+ ${r.ename}"/>
                <td th:text="${r.team}"/>
                <td th:text="${r.classId}"/>
                <td th:text="${r.startTimeFormatted}"/>
                <td th:text="${r.resultTimeFormatted}"/>
                <td th:text="${r.passed}"/>
                <td th:text="${r.runningTimeFormatted}"/>

            </tr>
            </tbody>
        </table>
    </div>
</div>


</body>
</html>